.App {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}


.posts {
  margin:50px 250px;
  padding:10px 20px;
  border-top:thin solid rgba(128, 128, 128, 0.429);
  background-color: rgba(220, 220, 220, 0.119);
  
}
img {
margin: 10px;
}
a {
  text-decoration: none;
  color: black;
}
p{
  color: rgb(62, 62, 62);
}
.tittle{
  text-align: left;
}
.like-com-delete{
  display: grid;
  grid-auto-flow: column;
  margin-top: 100px;
}
.like-com-delete button{
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
}
.like-com-delete button:hover{
  color: rgba(0, 0, 0, 0.523);
}
.posts img{
  float: right;
}
.home form {
  display: grid;
  grid-auto-flow: row;
  margin: 10px 400px;
  gap: 10px;
  background-color: rgba(220, 220, 220, 0.371);
  padding: 20px;
}
.home form button{
  margin:0 200px;
}
.users-nav{
  display: grid;
  grid-auto-flow: row;
  float: left;
  margin: 10px;
}
ul{
  list-style: none;
  border-radius: 25px;
  padding: 5px;
  border: thin solid gray;
}
.users-nav ul:hover{
background-color: rgba(128, 128, 128, 0.277);
}

.comments p{
  display: grid;
  margin: 10px 300px;
  background-color: rgba(192, 192, 192, 0.146);
  justify-content:left;
  text-align: center;
  padding:10px 50px;
  border-radius: 5px;
}
.comment-input{
  border-radius: 20px;
  background-color: rgba(192, 192, 192, 0.673);
  width: 200px;
  height: 30px;
  border: none;
  margin: 15px;
  padding: 0 10px;
}

.comment-input input::placeholder{
  padding: 0 10px;
}
.comment-section{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}